@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
*{
box-sizing: border-box; /*making them look the same in all browsers*/
}
html{
    min-height: 100vh;
}
body{
    height: 100vh;
    font-family: Roboto, sans-serif;
    background-color:  #00ccff;
    margin: 0;
    
}
.memory-title {
    font-family: Roboto, sans-serif;
    font-size: 6em;
    text-align: center;
    color:#404040;
    
}
.memory-container{
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.memory-board-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    position: relative;

}
.memory-info{
    grid-column: 1 / -1; /*first to last so it´s on the first section in the board*/
    display: flex;
    justify-content: space-between;

}
.card{
    position: relative;
    width:125px;
    height:175px; 
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.front-face .back-face{
backface-visibility: hidden;
}







