@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
*{
box-sizing: border-box; /*making them look the same in all browsers*/
}
html{
    min-height: 100vh;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: Roboto, sans-serif;
    background-color:  #00ccff;
    margin: 0;
    padding: 0;
    
}
.memory-title {
    font-family: Roboto, sans-serif;
    font-size: 6em;
    text-align: center;
    color:#404040;
    
}

.memory-container{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;

}
.memory-info-container{
   display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}
.memory-info-container .memory-info {
    grid-column: 1/ -1;
    display:flex;
    font-family: Roboto, sans-serif;
    color: #000;
    font-size: 4em;
    justify-content: space-between
}

.card{
    width:125px;
    height:175px; 
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    transform-style: preserve-3d;
    position: relative;
    transform: rotateY(180deg);
    -webkit-transition: transform 1.5s; /* Safari and Chrome */
    transition: transform 1.5s;
}
.card:visable .card-back{
  -ms-transform: rotateY(-180deg); /* IE 9 */
  -webkit-transform: rotateY(-180deg); /* Safari Chrome */
  transform: rotateY(-180deg);
}
.card:visable .card-front{
  -ms-transform: rotateY(0deg); /* IE 9 */
  -webkit-transform: rotateY(0deg); /* Safari Chrome */
  transform: rotateY(0deg);
}
img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-style: none;
}

.card .card-back{
    width: 100%;
    height: 100%;
    padding:5px;
    border-radius:5px;
    z-index:2;
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transition: transform 500ms ease-in-out;
    backface-visibility: hidden; 
    position: absolute;
}
.card .card-front{
    width: 100%;
    height: 100%;
    padding:5px;
    border-radius:5px;
    z-index:3;
    transition: transform 500ms ease-in-out;
    backface-visibility: hidden; 
    position: absolute;
    
}

.overlay-text{
    position:fixed; /*so it dosent move and dos not shows*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; /*spred out over*/
    align-items: center;
    justify-content: center;
    z-index: 100;
    color:#404040;
    font-family: Roboto, sans-serif;
}
.overlay-text-small{
    font-size: .3em; /*30% of larger size text*/
}

.overlay-text{
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
    align-items: center;
    justify-content: center;
}

@keyframes overlay-grow {
    from{
        background-color: rgba(0,0,0,0);
        font-size: 0;
    }
    to{
        background-color: rgba(0,0,0.8);
        font-size: 10em;
    }
}
@media (max-width :600px){
    .memory-container{
        grid-template-columns: repeat(2, auto);
    }


.memory-info-container{ /*for smaller screens*/
    flex-direction: column;
    align-items: center;
    }
}






