@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
body{
    height: 100vh;
    font-family: Roboto, sans-serif;
    background-color:  #00ccff;
    box-sizing: border-box;
    margin: 0;
    display:grid;
}
h1 {
    font-family: Roboto, sans-serif;
    text-align: center;
    color:#404040;
    
}
.memory-container{
    margin: 20px auto;
    display: flex;
    grid-template-columns: 60px 60px 60px;
    justify-content: center;
    background-color:  #9933ff;
}